* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
.promo {
    min-height: 800px;
    background: url('../images/banner.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 53px;
}

.title {
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

.title_big {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 30px;
    
}

.promo_text {
    font-family: Roboto;
    font-size: 21px;
    /* line-height: 28px; */
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}

.promo_text span {
    font-weight: 700;
    color: #f9bf3b;
}

.promo_btn {
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.17);
    display: block;
    margin: 69px auto;
    cursor: pointer;
    outline: none;
    font-family: RobotoCondensed;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.more_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    cursor: pointer;
}

.waiting {
    padding: 85px 0 75px 0;
    background-color: #efefef;
}

.waiting_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting_subheader {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    margin-top: 17px;
}

.waiting_wrapper {
    margin-top: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.waiting_item {
    width: 342px;
}

.waiting_descr {
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 33px;
    text-align: center;
}

.optimization {
    min-height: 448px;
}

.optimization_text {
    margin-left: 390px;
    margin-top: 102px;
    width: 750px;
}

.optimization_title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization_descr {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 25px;
}

.optimization_descr span {
    font-weight: 700;
}

.optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    background: url('../images/banner1.png') center center/cover no-repeat;
    min-height: 450px;
}

.finish_title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #efefef;
    text-align: center;
    padding-top: 86px;
}

.finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 23px;
}

.finish_skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.finish_item {
    width: 225px;
}

.finish_descr {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    color: #efefef;
    text-align: center;
    margin-top: 35px;
}

.finish_round {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 83px 0;
}

.gift_img {
    display: block;
    margin: 0 auto;
}

.gift_text {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    margin-top: 42px;
    text-align: center;
}

.gift_btn {
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.17);
    display: block;
    margin: 48px auto 0;
    cursor: pointer;
    outline: none;
    font-family: RobotoCondensed;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.webinar {
    padding: 89px 0 64px 0;
    min-height: 515px;
}

.webinar_img {
    display: block;
    margin: 0 auto;
}

.webinar_text {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    margin-top: 37px;
    text-align: center;
}

.webinar_date {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    margin-top: 30px;
    text-align: center;
}

.webinar_allert {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: 25px;
    text-align: center;
}

footer {
    height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}